body {
    text-align: center;
    background-image: url("hands.gif");
  }
  
  #camera , #result
    {
      border: 2px dashed black;
      width: 250px;
      height: 250px; 
  
    }

    span {
      font-size: 80px;
    }

    label {
      font-size: 18px;
    }
