body {
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdb-gyHe9FIVYAHFHr9-oY1mehGjT6WzTXeQ&usqp=CAU");
  }
  
  #camera , #result
    {
      border: 2px dashed black;
      width: 250px;
      height: 250px; 
  background-color: black;
    }

    span {
      font-size: 80px;
    }

    label {
      font-size: 18px;
    }
